<section>
  <ng-template #formGet>
    <div class="classbox">
      <h1>Which customer would you like to get?</h1>

      <form #formInfo="ngForm">
        <p>Customer id</p>
        <input
          #customerIdInfo="ngModel"
          name="customerId"
          type="number"
          placeholder="Enter customer id"
          [(ngModel)]="customerId"
          required
        />

        <input
          type="submit"
          value="Get now"
          (click)="getOneCustomer()"
          [disabled]="formInfo.form.invalid"
        />

        <span *ngIf="customerIdInfo.errors?.required && customerIdInfo.touched"
          >*Please enter a customer id</span
        >
      </form>
    </div>
  </ng-template>

  <!-- <ng-template #loading>
    <img src="assets/icons/loading.gif" alt="loading" />
  </ng-template> -->

  <table *ngIf="customer; else formGet">
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.email }}</td>
      </tr>
    </tbody>
  </table>
</section>
