<section>
  <div>
    <h1>Actions</h1>
    <a routerLink="../purchase-coupon" routerLinkActive="active-link"
      >Purchase coupon</a
    >
    <a routerLink="../get-all-customer-coupons" routerLinkActive="active-link"
      >Get all coupons</a
    >
    <a
      routerLink="../get-all-customer-coupons-by-category"
      routerLinkActive="active-link"
      >Get coupons by category</a
    >
    <a
      routerLink="../get-all-customer-coupons-by-max-price"
      routerLinkActive="active-link"
      >Get coupons by max price</a
    >
    <a routerLink="../get-customer-details" routerLinkActive="active-link"
      >Get details</a
    >
  </div>
</section>
