section {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}

div {
  display: contents;
}

a,
button {
  position: relative;
  font-size: 24px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1.5%;
  text-decoration-line: none;
  color: #fff;
}

.active-link {
  font-size: 24px;
  font-weight: bold;
}

button {
  border: none;
  outline: none;
  height: 30px;
  width: 100px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
