/* section {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 10% 86% 4%;
  overflow: auto;
}

header {
  box-shadow: 2px 1px 30px rgb(99, 148, 186, 0.9);
  background-color: rgb(156, 212, 255);
} */
