<section>
  <div>
    <h1>Actions</h1>
    <a routerLink="../add-coupon" routerLinkActive="active-link">Add coupon</a>
    <a routerLink="../update-coupon" routerLinkActive="active-link"
      >Update coupon</a
    >
    <a routerLink="../delete-coupon" routerLinkActive="active-link"
      >Delete coupon</a
    >
    <a routerLink="../get-coupon-by-id" routerLinkActive="active-link"
      >Get coupon by ID</a
    >
    <a routerLink="../get-all-coupons" routerLinkActive="active-link"
      >Get all coupons</a
    >
    <a routerLink="../get-coupons-by-category" routerLinkActive="active-link"
      >Get coupons by category</a
    >
    <a routerLink="../get-coupons-by-max-price" routerLinkActive="active-link"
      >Get coupons by max price</a
    >
    <a routerLink="../get-details" routerLinkActive="active-link"
      >Get details</a
    >
  </div>
</section>
