<section>
  <div>
    <h1>Customer Actions</h1>
    <a routerLink="../add-customer" routerLinkActive="active-link"
      >Add customer</a
    >
    <a routerLink="../update-customer" routerLinkActive="active-link"
      >Update customer</a
    >
    <a routerLink="../delete-customer" routerLinkActive="active-link"
      >Delete customer</a
    >
    <a routerLink="../get-all-customers" routerLinkActive="active-link"
      >Get all customers</a
    >
    <a routerLink="../get-one-customer" routerLinkActive="active-link"
      >Get one customer</a
    >
  </div>
</section>
