<section>
  <div>
    <h1>Company Actions</h1>
    <a routerLink="../add-company" routerLinkActive="active-link"
      >Add company</a
    >
    <a routerLink="../update-company" routerLinkActive="active-link"
      >Update company</a
    >
    <a routerLink="../delete-company" routerLinkActive="active-link"
      >Delete company</a
    >
    <a routerLink="../get-all-companies" routerLinkActive="active-link"
      >Get all companies</a
    >
    <a routerLink="../get-one-company" routerLinkActive="active-link"
      >Get one company</a
    >
  </div>
</section>
